.navbar
{
    font-family: 'VALORANT', sans-serif; 
    font-size: 20px; 
    background: linear-gradient(rgba(1,1,1,0.750),rgba(1,1,1,0.750));
}

#header
{
    font-family: 'VALORANT', sans-serif; 
    font-size: 20px; 
}

/* Hover Animation */
.underline-hover {
    position: relative;
    display: inline-block;
  }
  
.underline-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
.underline-hover:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
