.navbar
{
    font-family: 'VALORANT', sans-serif; 
    font-size: 20px; 
    background: linear-gradient(rgba(1,1,1,0.750),rgba(1,1,1,0.750));
}

#header
{
    font-family: 'VALORANT', sans-serif; 
    font-size: 20px; 
}

#searchbytags
{
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'VALORANT', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.searchbytags-title .line
{
    width: 1000px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 10px auto 24px auto;
}

#browsebytag
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 64, 0.5));
    font-family: 'VALORANT', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.browsebytag-title .line
{
    width: 1000px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 10px auto 24px auto;
}

#historysearch
{
    background: linear-gradient(rgba(0, 0, 64, 0.5), rgba(0, 0, 255, 0.5));
    font-family: 'VALORANT', sans-serif; 
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.historysearch-title .line
{
    width: 1000px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 10px auto 24px auto;
}


/* Hover Animation */
.underline-hover {
    position: relative;
    display: inline-block;
  }
  
.underline-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
.underline-hover:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

/* Arrow Animation */
.arrow-icon {
    position: absolute;
    bottom: 20px; /* Place the arrow near the bottom */
    font-size: 3rem; /* Customize the size */
    color: #fff; /* Customize the color */
    animation: bounce 1s infinite; /* Add bounce animation */
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
